# Unity generated folders
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/
**/MemoryCaptures/
**/obj/
**/bin/
**/Packages/com.singularitygroup.hotreload

# IDE files
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
packages lock.json

# Local environment artifacts
.DS_Store
Thumbs.db



# Backup of git garbage from maintenance
.git_object_backups/
AI-JAM-2025-master/ProjectSettings/Packages/com.unity.probuilder/Settings.json
AI-JAM-2025-master/ProjectSettings/ProjectVersion.txt
AI-JAM-2025-master/Packages/packages-lock.json
AI-JAM-2025-master/ProjectSettings/Packages/com.unity.sequences/Settings.json
AI-JAM-2025-master/Packages/packages-lock.json
